



:root {
    --orange-peel:#FF9F1C;
    
    --hunyadi-orange:#FFBF69;
    --mint-green:#CBF3F0;
    --light-sea-green:#2EC4B6;
}

#foo {
    color: var(--main-color);
}

.header-main{
position: fixed;
width: 100%;
height: 180px;
justify-content: space-between;
display: flex;

}
.header-main-logo{
   width: fit-content;
}

.container{
    display: flex;
    background-color:#FF9F1C;
    
}

.container p {
    text-align:start;
    padding: 10%;
}
.container img{
    width: 100%;
    height: auto;
    float: left;

}



p{
    font-weight: 600;
    font-style: initial;
    font-size: large;
}

img{
    width: 27%;
    height: 80%;
}




/**<!--  footer{ -->
    height: 20vh;
    border-image: 10%;
}
  -->**/
footer img{
    max-height: 100%;
    max-width: 100%;
}