* {
    outline: 1px solid var(--hunyadi-orange); 
}
:root {
    --orange-peel:#FF9F1C;
    --hunyadi-orange:#FFBF69;
    --mint-green:#CBF3F0;
    --light-sea-green:#2EC4B6;
}
#foo {
    color: var(--main-color);
}

html { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--orange-peel);

    
    
}

nav,
.socialmedia {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;

}

ul.navmenu,
ul.socialmedia {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    align-content: center;
    justify-content: space-evenly;

    margin-right: 100px;
    padding: 0;
}

.logo {

    margin-left: 100px;
}

ul.navmenu li {
    margin: 0 10px;
}

a {
    color: var(--orange-peel);
}

h1,
h2,
h3 {
    text-align: center;
}
.heroimage {
    width: 100%;
}

h2 img {
    max-width: 100%;
    max-height: 100%;
}

.reviews {
    background-color: var(--mint-green)
}

.address {
    text-align: center;
}

h3 {
    color: var(--light-sea-green);
}