:root {
    --orange-peel:#FF9F1C;
    --hunyadi-orange:#FFBF69;
    --mint-green:#CBF3F0;
    --light-sea-green:#2EC4B6;
}
#foo {
    color: var(--main-color);
}
html,
body {
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}
.get-in-touch-container {
    background-color: #2EC4B6;
    background-image: url(contact-page-files/Solar-panels-in-field-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.get-in-touch-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FF9F1C30;
    border-radius: 5px;
    width: 100%;
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    gap: 5vw;
}
.get-in-touch-container-input-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1rem;
}
.get-in-touch-container-input-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    height: 100%;
}
input {
    width: 100%;
    min-height: 2rem;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    border: none;
    transition: font-size ease-in-out 0.2s;
}
input:focus {
    box-shadow: 0px 0px 10px 5px #FFBF69;
    outline: none;
    font-size: 1.05rem;
}
.subject {
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 1rem;
    min-height: 50%;
    padding: 0.5rem;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: font-size ease-in-out 0.2s;
}
.subject:focus {
    box-shadow: 0px 0px 10px 5px #FFBF69;
    outline: none;
    font-size: 1.05rem;
}
.button-submit {
    background-color: #FFBF69;
    border: none;
    border-radius: 5px;
}
.button-submit:hover {
    background-color:#CBF3F0;
    box-shadow: 3px 5px 20px -5px #FFBF69;
    cursor: pointer;
}
/* next section */
.head-office-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.office-hours {
    float: right;
}
.map-container {
    align-self: flex-start;
    height: 100%;
    width: 500px;
}
#map {
    height: 100%;
}
::placeholder {
    font-family: 'BeVietnamPro', sans-serif;
    color: grey;
}
.phone-container {
    display: flex;
    align-items: flex-start;
    line-height: 1.3;
    height: 100%;
}
.phone-container::before {
    display: inline;
    content: "";
    background-image: url("contact-page-files/phone-icon-4.avif");
    width: 21px;
    height: 21px;
    line-height: 0;
}