*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-color: black;
}

:root {
    --orange-peel:#fa9405;
    --hunyadi-orange:#FFBF69;
    --mint-green:#CBF3F0;
    --light-sea-green:#2EC4B6;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: var(--mint-green);
    z-index:10;
   
}
.logo {
    padding-left: 1rem;
}
.logo img {
    width: 15rem ;
}

.nav-links {
    display:flex;
    justify-content: space-around;
    width:40%;
    margin-left: auto;
    padding-right: 1rem;
    z-index: 10;

}
.nav-links li {
    list-style: none;
    transition: transform 0.3s ease-in-out;

}

.nav-links a {
    color: var(--orange-peel);
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1rem;
    text-decoration: none;
}
.nav-links li:hover {
    transform: translateY(-3px);
}

.burger div {
    width: 25px;
    height: 3px;
    background-color:var(--orange-peel);
    margin:5px;
}

.burger {
    display:none;
}

@media screen and (max-width:1024px){
    .nav-links {
        width:60%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position:absolute;
        right: 0px;
        height: 89vh;
        top:11vh;
        background-color: var(--light-sea-green);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }
    .nav-links li {
        opacity:0;
    }
    .nav-links a {
        color: white;
    }
    .burger {
        display: block;
    }
   
}
.nav_active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}